body {
    font-family: sans-serif;
}
header {
    border-radius: 30px;
    border: 10px;
    background-color: rgb(144, 253, 253);
    text-shadow: coral;
    color: indigo;
    padding: 20px;
    margin: auto;
}
 nav a {
     background-color: thistle;
     border-radius: 10px;
     text-decoration: none;
    padding: 3px;
     color: white;
     background-color: thistle;
}
h1 {
    color: teal;
    text-align: center;
    background-color: wheat;
    border-radius: 20px;
}
footer {
    background-color: darksalmon;
    border: indianred;
    border-radius: 20px;
    border: 5px solid yellow;
